<!DOCTYPE html>
<html>

<head>
    <meta name="applicable-device" content="pc,mobile">
    <meta name="HandheldFriendly" content="true" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>领队招聘网一站式夜总会ktv招聘信息平台 - 领队在线网 </title>
    <meta name="keywords" content="领队招聘,ktv招聘,夜总会招聘,ktv招聘网,领队招聘网,领队在线网">
    <meta name="description"
        content="领队在线网-上海领队招聘网一站式上海夜总会ktv招聘信息平台!可免费发布KTV招聘信息、提供北京、杭州、澳门、广州、深圳、贵阳、成都、昆明、福州、苏州、南昌、合肥、南京、天津、长沙等地领队领队与yeczx.Com合作！" />
    <meta name="baidu-site-verification" content="BGb72EwFw9IBjVsr" />
    <meta name="viewport" content="width=device-width, width=device-width, initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>